* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* CONTAINER */
.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* ABOUT SECTION */
.about {
    text-align: center;
}

.about h2 {
    margin-bottom: 15px;
}

.about p {
    margin-bottom: 15px;
    color: #333;
}

/*IMAGE */
img {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.1);
}

/* BUTTON */
a{
    display: inline-block;
    padding:10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
}


a:hover {
    background-color: darkred;
    transform: translateY(3px);
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: #666;
}